body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mobile-screen {
  width: 360px;
  height: 700px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 1;
}

.header {
  background: rgb(6, 6, 66);
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 15px;
  position: relative;
  height: 50px;
}

.header h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

.back-btn {
  position: absolute;
  left: 15px;
  top: 25px;
  background: transparent;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.driver-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
}

.driver-form label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.driver-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

.start-btn {
  padding: 12px;
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.start-btn:hover {
  background: #005bb5;
}

.gps-status {
  margin-top: 25px;
  font-size: 16px;
  font-weight: bold;
}

.status-text {
  color: red;
}